/* CSS para a lista de mensagens */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}


.container-listagem {
  width: 40%;
  margin: 0 auto;
  padding: 20px;
}

.container-listagem ul {
  list-style-type: none;
  padding: 0;
}

.container-listagem li {
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.089);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.651);
}

.container-listagem li .dados {
  padding: 15px;
}

.container-listagem li .dados input[type="text"],
.container-listagem li .dados textarea {
  width: 100%;
  padding: 8px;
  border: none;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.555);
  box-shadow: 0 2px 5px rgba(14, 13, 13, 0.747);
  margin-top: 1rem;
}

.container-listagem li .dados button {
  padding: 8px 16px;
  background-color: #0043fb;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.container-listagem li .icone-lista img {
  width: 40px;
  height: px;
  cursor: pointer;
}

.container-listagem li .dados h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 8px;
}

/* CSS para a barra de navegação */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  background-image: linear-gradient(to right, orange, purple, green);
  background-size: 500% 100%;
  animation: degrade_animado 2.0s infinite alternate;
  height: 7vh;
}

@keyframes degrade_animado {
  0% {
    background-position-x: 0%;
  }
  100% {
    background-position-x: 100%;
  }
}

.nav-list {
  list-style: none;
  display: flex;
  color: #fff;
}

.nav-list li {
  letter-spacing: 10px;
  margin-left: 32px;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.line2 {
  width: 20px;
  height: 2px;
  background-color: #fff;
  margin: 5px 0;
  transition: all 0.3s ease-in-out;
}

/* CSS para o plano de fundo */
body {
  background-image: url('../img/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.logo {
  font-size: 24px;
  text-transform: capitalize;
  letter-spacing: 10px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  transition: 0.9s;
}

