@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
  }
  
  body{
    position: relative;
    height: 100vh;
    width: 100vw;
    /* adicionando imagem de fundo */
    background: url('../img/bg.jpg') fixed no-repeat;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    background-size: cover; 
  }
  
  
  a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: 0.9s;
  }
  
  a:hover {
    opacity: 0.7;
  }
  
  .logo {
    font-size: 25px;
    text-transform: capitalize;
    letter-spacing: 10px;
  }
  
  
  
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background-image: linear-gradient(to right, orange, purple, green);
    background-size: 500% 100%;
    animation: degrade_animado 2.0s infinite alternate;
    height: 7vh;
  }
  
  @keyframes degrade_animado {
    0%{
      background-position-x: 0%;
    }
    100%{
      background-position-x: 100%;
    }
  }
  
  .nav-list {
    list-style: none;
    display: flex;
  }
  
  .nav-list li {
    letter-spacing: 10px;
    margin-left: 32px;
  }
  
  .mobile-menu {
    display: none;
    cursor: pointer;
  }
  
  .mobile-menu div {
    width: 32px;
    height: 2px;
    background: #ffffff;
    margin: 8px;
    transition: 0.3s;
  }
  
  @media (max-width: 999px) {
    body {
      overflow-x: hidden;
    }
    .nav-list {
      position: fixed;
      top: 8vh;
      right: 0;
      width: 30vw;
      height: 10vh;
      background: #23232e38;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: translateX(100%);
      transition: transform 0.2s ease-in;
    }
    .nav-list li {
      margin-left: 0;
      opacity: 0;
    }
    .mobile-menu {
      display: block;
    }
  }
  
  .nav-list.active {
    transform: translateX(0);
  }
  
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }
  
  .principal{
    margin-top: 6rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  
  /* centraliza a div */
  main.container {
      background: rgba(255, 192, 203, 0);
      width: 420px;
      height: 400px;
      padding: 2rem;
      box-shadow: 0px 0px 20px black;
      border-radius: 8px;
      position: relative;
      
  }
  
  main h2 {
    font-weight: 600;
    margin-bottom: 2rem;
    position: relative;
    text-align: center;
}

main h2::before {
    content: '';
    position: absolute;
    height: 4px;
    width: 360px;
    bottom: -10px;
    left: 0;
    border-radius: 8px;
    background: linear-gradient(45deg, #5709ff, #00e061);
    margin-left: 2rem;
}
  
form {
    display: flex;
    flex-direction: column;
}


.input {
  background-color: rgba(255, 192, 203, 0);
  margin-top: 3rem;
   
}

form .msg-input-box:first-child {
    margin-bottom: 1.5rem;
    text-align: center;
    align-items: center;
    margin-top: 1rem;
}

.msg-input-box .underline::before {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -5px;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
    color: pink;
  }

.msg-input-box .underline::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -5px;
    left: 0;
    background: linear-gradient(45deg, #8e2de2, #4a00e0);
    transform: scaleX(0);
    transition: all .3s ease-in-out;
    transform-origin: left;
}

.msg-input-box input:focus ~ .underline::after {
    transform: scaleX(1);
}

.msg-input-box input {
    outline: none;
    font-size: 0.9rem;
    color: rgb(19, 18, 18);
    width: 100%;
}

.msg-input-box input::placeholder {
    color: rgba(0, 0, 0, 0.5);
}

form input[type="submit"] {
    margin-top: 10rem;
    padding: 0.4rem;
    width: 100%;
    background: linear-gradient(to left, #4776E6, #8e54e9);
    cursor: pointer;
    color: rgb(241, 241, 241);
    font-size: 0.9rem;
    font-weight: 300;
    border-radius: 4px;
    transition: all 0.3s ease;
}

form input[type="submit"]:hover {
    letter-spacing: 0.5px;
    background: linear-gradient(to right, #4776E6, #813c78);
}

.footer {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.footer span {
    color: pink;
    font-size: 0.8rem;
    text-align: center;
}

.footer .social-field {
    padding: 0.4rem;
    border-radius: 4px;
    font-size: 0.85rem;
    width: 100%;
    cursor: pointer;
    margin-top: 1rem;
}

.footer .social-field a i {
    margin: 0 0.5rem;
    width: 15px;
}

.footer .social-field a {
    text-decoration: none;
    color: rgb(10, 10, 10);
}

.footer .social-field.twitter {
    background: linear-gradient(to right, #56a7f2, #468aca);
}

.footer .social-field.facebook {
    background: linear-gradient(to right, #1e3c72, #2a5298);
}